.info {
    display: flex;
    margin-bottom: 2em;
}

.description {
    margin: 0 1em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.name {
    font-weight: bold;
    margin-bottom: 0.2em;
}

.avatarBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}