.App {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 5vw 15vw 70vw 5vw;
  grid-template-rows: 10vh auto;
  row-gap: 1vh;
  column-gap: 1vw;
  width: 98vw;
  height: 100vh;
}